body{
    text-align: center;
    background-color: black;
    color: yellow;
    font-family: Arial;
}

a, .button {
    background-color: yellow;
    color:black;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.content{
    margin-top: 20px;
    text-align: center;
}

.content table {
    border-collapse: collapse;
    margin: 0 auto;
}

.content table, th, td{
    font-size: 14px;
    border: 1px solid yellow;
    padding: 5px;
}

.form {
    margin-top: 50px;
}

footer{
    color: orange;
}
